@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: '0xproto';
    src: url('/fonts/0xproto.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family: '0xproto', sans-serif;
    @apply bg-[#13151a] min-h-screen;
  }

  body {
    @apply m-4 p-[1px] flex flex-col;
  }

  code {
    font-family: '0xproto', monospace;
  }
}