---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Itsuki54's website" description='Itsuki54の公式サイトへようこそ'>
	<main>
		<h1>Welcome to <span class="text-gradient">Itsuki54's</span> website</h1>
	</main>
</Layout>

<style>
	.icon {
		display: flex;
		justify-content: center;
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
	main {
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 80vh;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>