---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Itsuki54's website" description='Itsuki54の公式サイトへようこそ'>
        <main class="mx-auto flex flex-col items-center justify-center p-4 w-full max-w-[800px] text-white text-xl leading-relaxed min-h-[80vh]">
                <h1 class="text-5xl font-bold leading-none text-center mb-4">
                        Welcome to <span class="bg-accent-gradient bg-clip-text text-transparent bg-[length:400%] bg-[position:0%]">Itsuki54's</span> website
                </h1>
        </main>
</Layout>