<header>
  <div class="flex justify-center items-center px-4">
    <nav class="flex justify-center items-center px-4">
      <ul class="flex justify-center items-center px-4 md:flex-row flex-col">
        <li class="md:mx-4 md:my-0 my-4"><a href="/" class="no-underline text-white text-2xl font-bold hover:text-[#f9d423]">Home</a></li>
        <li class="md:mx-4 md:my-0 my-4"><a href="/about" class="no-underline text-white text-2xl font-bold hover:text-[#f9d423]">About</a></li>
        <li class="md:mx-4 md:my-0 my-4"><a href="/skills" class="no-underline text-white text-2xl font-bold hover:text-[#f9d423]">Skills</a></li>
        <li class="md:mx-4 md:my-0 my-4"><a href="/projects" class="no-underline text-white text-2xl font-bold hover:text-[#f9d423]">Projects</a></li>
        <li class="md:mx-4 md:my-0 my-4"><a href="/contact" class="no-underline text-white text-2xl font-bold hover:text-[#f9d423]">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>