---
import Header from './Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="font-sans bg-custom-bg min-h-screen">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="輿石一輝, Biography, Introduction, Itsuki54, Itsuki Koshiishi" />
  <meta property="og:title" content="Itsuki54's portfolio" />
  <meta property="og:description" content="About Itsuki54 (Itsuki Koshiishi)" />
  <meta property="og:image" content="/icon.jpeg" />
  <meta property="og:url" content={Astro.url} />
  <title>{title}</title>
  <link rel="preload" href="/fonts/0xproto.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
</head>
	<body class="m-4 p-px flex flex-col">
		<Header />
		<slot />
	</body>
</html>
