---
import Header from './Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="輿石一輝, Biography, Introduction, Itsuki54, Itsuki Koshiishi" />
  <meta property="og:title" content="Itsuki54's portfolio" />
  <meta property="og:description" content="About Itsuki54 (Itsuki Koshiishi)" />
  <meta property="og:image" content="/icon.jpeg" />
  <meta property="og:url" content={Astro.url} />
  <title>{title}</title>
</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: '0xproto';
		src: url('/fonts/0xproto.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: '0xproto', sans-serif;
		background: #13151a;
		min-height: 100vh;
	}
	body {
		margin: 16px;
		padding: 1px;
		display: flex;
		flex-direction: column;
	}
	code {
		font-family: '0xproto', monospace;
	}
</style>
